<launch>
    <env name="QT_AUTO_SCREEN_SCALE_FACTOR" value="0"/>
    <env name="GAZEBO_RESOURCE_PATH" value="$(find mobile_manipulator_robot_gazebo)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true" />
        <arg name="verbose" value="true"/>
        <arg name="physics" value="ode"/>
        <arg name="world_name" value="world/nav_demo.world"/>
    </include>

    <include file="$(find mobile_manipulator_robot_description)/launch/upload_robot.launch"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -model mobile_manipulator_robot -param robot_description" launch-prefix="bash -c 'sleep 2.0; $0 $@' "/>
</launch>