<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <gazebo reference="l_wheel">
        <mu1 value="200.0"/>
        <mu2 value="200.0"/>
        <kp value="10000000.0" />
        <kd value="1.0" />
        <minDepth>0.0</minDepth>
        <material>Gazebo/DarkYellow</material>
    </gazebo>

    <gazebo reference="r_wheel">
        <mu1 value="200.0"/>
        <mu2 value="200.0"/>
        <kp value="10000000.0" />
        <kd value="1.0" />
        <minDepth>0.0</minDepth>
        <material>Gazebo/DarkYellow</material>
    </gazebo>

    <gazebo reference="l_rear_caster_wheel">
        <mu1 value="1"/>
        <mu2 value="1"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <minDepth>0.0</minDepth>
        <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="r_rear_caster_wheel">
        <mu1 value="1"/>
        <mu2 value="1"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <minDepth>0.0</minDepth>
        <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="l_front_caster_wheel">
        <mu1 value="1"/>
        <mu2 value="1"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <minDepth>0.0</minDepth>
        <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="r_front_caster_wheel">
        <mu1 value="1"/>
        <mu2 value="1"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <minDepth>0.0</minDepth>
        <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="base_link">
        <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="l_bogie_suspension">
        <material>Gazebo/DarkGray</material>
    </gazebo>

    <gazebo reference="r_bogie_suspension">
        <material>Gazebo/DarkGray</material>
    </gazebo>

    <gazebo reference="l_rear_caster_rotate">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="r_rear_caster_rotate">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="l_front_caster_rotate">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="r_front_caster_rotate">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace></robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <controlPeriod>0.001</controlPeriod>
            <legacyModeNS>false</legacyModeNS>
            <eStopTopic>emergency_stop</eStopTopic>
        </plugin>
    </gazebo>

    <gazebo reference="front_lidar">
        <!-- GPU Version-->
        <sensor type="gpu_ray" name="front_laser_sensor">
        <!-- non GPU Version-->
        <!-- <sensor type="ray" name="front_laser_sensor">-->
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>15</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>540</samples>
                        <resolution>1</resolution>
                        <min_angle>-2.35619449</min_angle>
                        <max_angle>2.35619449</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.10</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <!-- GPU Version-->
            <plugin name="gazebo_ros_front_lidar_controller" filename="libgazebo_ros_gpu_laser.so">
            <!-- non GPU Version-->
            <!-- <plugin name="gazebo_ros_front_lidar_controller" filename="libgazebo_ros_laser.so"> -->
                <topicName>front_scan</topicName>
                <frameName>front_lidar</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="rear_lidar">
        <!-- GPU Version-->
        <sensor type="gpu_ray" name="rear_laser_sensor">
        <!-- non GPU Version-->
        <!-- <sensor type="ray" name="rear_laser_sensor">-->
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>15</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>540</samples>
                        <resolution>1</resolution>
                        <min_angle>-2.35619449</min_angle>
                        <max_angle>2.35619449</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.10</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <!-- GPU Version-->
            <plugin name="gazebo_ros_rear_lidar_controller" filename="libgazebo_ros_gpu_laser.so">
            <!-- non GPU Version-->
            <!-- <plugin name="gazebo_ros_rear_lidar_controller" filename="libgazebo_ros_laser.so"> -->
                <topicName>rear_scan</topicName>
                <frameName>rear_lidar</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="camera_link">
        <sensor type="depth" name="camera">
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
            <camera>
                <horizontal_fov>${60.0*pi/180.0}</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>

            <plugin name="kinect_camera_controller" filename="libgazebo_ros_openni_kinect.so">
                <cameraName>camera</cameraName>
                <alwaysOn>true</alwaysOn>
                <updateRate>30</updateRate>
                <imageTopicName>rgb/image_raw</imageTopicName>
                <depthImageTopicName>depth_registered/image_raw</depthImageTopicName>
                <pointCloudTopicName>depth_registered/points</pointCloudTopicName>
                <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
                <depthImageCameraInfoTopicName>depth_registered/camera_info</depthImageCameraInfoTopicName>
                <frameName>camera_depth_optical_frame</frameName>
                <baseline>0.1</baseline>
                <distortion_k1>0.0</distortion_k1>
                <distortion_k2>0.0</distortion_k2>
                <distortion_k3>0.0</distortion_k3>
                <distortion_t1>0.0</distortion_t1>
                <distortion_t2>0.0</distortion_t2>
                <pointCloudCutoff>0.4</pointCloudCutoff>
            </plugin>
        </sensor>
    </gazebo>
</robot>