<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <gazebo reference="front_lidar">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="rear_lidar">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="l_rear_caster_wheel">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
    </gazebo>

    <gazebo reference="r_rear_caster_wheel">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
    </gazebo>

    <gazebo reference="l_front_caster_wheel">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
    </gazebo>

    <gazebo reference="r_front_caster_wheel">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
    </gazebo>

    <gazebo reference="l_wheel">
        <mu1>100.0</mu1>
        <mu2>100.0</mu2>
        <!--
        <kp value="10000.0" />
        <kd value="1.0" /> -->
    </gazebo>

    <gazebo reference="r_wheel">
        <mu1>100.0</mu1>
        <mu2>100.0</mu2>
        <!--
        <kp value="10000.0" />
        <kd value="1.0" /> -->
    </gazebo>

    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>50</updateRate>
            <leftJoint>l_wheel_joint</leftJoint>
            <rightJoint>r_wheel_joint</rightJoint>
            <wheelSeparation>0.2232</wheelSeparation>
            <wheelDiameter>0.125</wheelDiameter>
            <wheelAcceleration>1.0</wheelAcceleration>
            <wheelTorque>8</wheelTorque>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <publishOdomTF>true</publishOdomTF>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <publishWheelTF>true</publishWheelTF>
            <publishWheelJointState>true</publishWheelJointState>
        </plugin>
    </gazebo>

    <gazebo reference="front_lidar">
        <sensor type="gpu_ray" name="front_laser_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>40</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.570796</min_angle>
                        <max_angle>3.141592</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.10</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
                <topicName>front_scan</topicName>
                <frameName>front_lidar</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="rear_lidar">
        <sensor type="gpu_ray" name="rear_laser_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>40</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.570796</min_angle>
                        <max_angle>3.141592</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.10</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
                <topicName>rear_scan</topicName>
                <frameName>rear_lidar</frameName>
            </plugin>
        </sensor>
    </gazebo>

</robot>